@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url('./image/Eidul-azha.jfif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.gradient-color {
    font-size: 4rem;
      background: linear-gradient(45deg, #1ed8e6 , #ffffff);
      background-clip: tex;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
}

.gradient-color1 p {
    font-size: 4rem;
      background: linear-gradient(45deg, #5d5bcc , #22ffb5);
      background-clip: tex;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
        border-bottom: 5px solid rgb(22, 255, 236);
}

span {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(28, 255, 198);
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
    background-color: #000000ad;
}

.countdown-el span {
    font-size: 1.3rem;
}


@media screen and (max-width: 676px) {
    .gradient-color1 p {
        font-size: 1.5rem;
        border-bottom: 1px solid rgb(22, 255, 236);
    }

    .gradient-color {
        font-size: 2rem;
    }
    .countdown-el span {
        font-size: 10px;
    }
}
